.navbar {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    backdrop-filter: blur(3px);

    .navTitle {
        padding: 1rem;
        font-weight: bold;
    }

    .navLinks {
        padding: 1rem;
        display: flex;
        flex-direction: row;

        div {
            margin-left: 1rem;
            font-weight: lighter;
        }
    }
}